{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
			<div class="hero">
				<h2>Yet another gogs powered git server.</h2>
			</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> Fire
			</h1>
			<p class="large">
				Flames are hot. So are the servers.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> Computer
			</h1>
			<p class="large">
				Computer is like friend. You must know it well to treat it right.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> Spaaaaaace
			</h1>
			<p class="large">
				Haha rocket go brrrrrrr&hellip;
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> Code
			</h1>
			<p class="large">
				Very git. Such versions. Much bloat.
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
