.__background-stuff {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.__error-stuff {
  .__background-stuff();
  border-color: rgba(255, 0, 0, 0.5);
  color: #9f3a38;
}

.ui.segment,
.ui.menu,
.ui.secondary.menu {
  .__background-stuff();
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.ui.secondary.menu .item,
.ui.menu .item,
.ui.menu a.item {
  color: #eee;

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
    font-weight: bold;

    &:hover {
      color: #fff;
      font-weight: bold;
    }
  }
}

.ui.form .inline.field > input,
.ui.form .inline.field > select,
.ui.form .inline.fields .field > input,
.ui.form .inline.fields .field > select,
.ui.form textarea,
.ui.selection.dropdown {
  .__background-stuff();
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  &:focus {
    .__background-stuff();
    color: #fff;
  }
}

.ui.button, .ui.buttons .button,
.ui.basic.button, .ui.basic.buttons .button{
  .__background-stuff() !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: #eee !important;

  &:hover {
    .__background-stuff() !important;
    border: 1px solid rgba(255, 255, 255, 0.6) !important;
    color: #fff !important;
  }
}

.ui.green.button, .ui.green.buttons .button {
  .__background-stuff();
  border-color: rgba(0, 255, 0, 0.3);

  &:hover {
    .__background-stuff();
    border-color: rgba(0, 255, 0, 0.6);
  }
}

.ui.selection.visible.dropdown > .text:not(.default),
.ui.dropdown .menu > .item,
.ui.dropdown .menu .selected.item,
.ui.dropdown .menu .active.item,
.ui.menu .ui.dropdown .menu > .item {
  &:hover {
    color: #fff !important;
  }

  color: #ddd !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  color: #fff !important;
}

.ui.dropdown .menu {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.ui.form .field.error input:not([type]), .ui.form .field.error input[type=date], .ui.form .field.error input[type=datetime-local], .ui.form .field.error input[type=email], .ui.form .field.error input[type=file], .ui.form .field.error input[type=number], .ui.form .field.error input[type=password], .ui.form .field.error input[type=search], .ui.form .field.error input[type=tel], .ui.form .field.error input[type=text], .ui.form .field.error input[type=time], .ui.form .field.error input[type=url], .ui.form .field.error select, .ui.form .field.error textarea, .ui.form .fields.error .field input:not([type]), .ui.form .fields.error .field input[type=date], .ui.form .fields.error .field input[type=datetime-local], .ui.form .fields.error .field input[type=email], .ui.form .fields.error .field input[type=file], .ui.form .fields.error .field input[type=number], .ui.form .fields.error .field input[type=password], .ui.form .fields.error .field input[type=search], .ui.form .fields.error .field input[type=tel], .ui.form .fields.error .field input[type=text], .ui.form .fields.error .field input[type=time], .ui.form .fields.error .field input[type=url], .ui.form .fields.error .field select, .ui.form .fields.error .field textarea {
  &:focus {
    .__error-stuff();
  }

  .__error-stuff();
}

.ui.negative.message {
  .__error-stuff();
}

.following.bar .top.menu a.item:hover {
  color: #fff !important;
}

.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover,
.ui.link.menu .item:active, .ui.menu .link.item:active, .ui.menu a.item:active {
  color: #fff !important;
}

.dashboard {
  position: relative;
}

.following.bar {
  position: relative;
}

.following.bar .top.menu .menu {
  .__background-stuff();
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;

  .item {
    color: #fff !important;
  }
}
